:root {
    --verdecop: #061019;
    --amber: #FFBE04;
    --firefly: #1C2E30;
    --blackpearl: #08141F;
    --bunker: #061018;
    --tapa: #70736C;
    --lemongrass: #9DA295;
    --narvik: #EDF8F2;
    --feta: #F2FAE6;
    --kidnapper: #E6EDDA;
}

.bg-verdecop {
    background-color: var(--verdecop);
}

body {
    background-color: var(--verdecop) !important;
}

/*Active Menu Links*/
.active {
    background-color:var(--amber) !important;
    color: var(--blackpearl) !important;
}

@media (min-width: 992px) {
    .active {
        background-color: transparent !important;
        color: var(--amber) !important;
    }
}

.full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }