:root {
    --verdecop: #061019;
    --amber: #FFBE04;
    --firefly: #1C2E30;
    --blackpearl: #08141F;
    --bunker: #061018;
    --tapa: #70736C;
}

.bg-verdecop {
    background-color: var(--verdecop);
}
