@font-face {
  font-family: "TilliumWeb";
  src: url("../fonts/TitilliumWeb-Italic.ttf");
}

@font-face {
  font-family: "TilliumWeb";
  font-weight: bold;
  src: url("../fonts/TitilliumWeb-BoldItalic.ttf");
}

@font-face {
    font-family: "TTSupermolotNeue";
    font-weight: 200;
    src: url("../fonts/TTSupermolotNeue-ExtraLightItalic.otf");
}

@font-face {
    font-family: "TTSupermolotNeue";
    font-weight: 300;
    src: url("../fonts/TTSupermolotNeue-LightItalic.otf");
}

@font-face {
    font-family: "TTSupermolotNeue";
    font-weight: 400;
    src: url("../fonts/TTSupermolotNeue-Italic.otf");
}

@font-face {
    font-family: "TTSupermolotNeue";
    font-weight: 500;
    src: url("../fonts/TTSupermolotNeue-MediumItalic.otf");
}


@font-face {
    font-family: "TTSupermolotNeue";
    font-weight: 500;
    src: url("../fonts/TTSupermolotNeue-BoldItalic.otf");
}

@font-face {
    font-family: "Poll";
    src: url("../fonts/TTPolls-Italic.otf");
}

@font-face {
    font-family: "Poll";
    font-weight: bold;
    src: url("../fonts/TTPolls-Black-Italic.otf");
}

:root {
    /*Letter Spacing*/
    --lp1: -2.5px;
    --lp2: -2px;
    --lp3: -.5px;
    /*Font*/
    --font1: "TilliumWeb";
    --font2: "TTSupermolotNeue";
    --font3:  "Poll";
}